venv/*
tests/output/*
tests/test_data/Example_Recording.zip
tests/test_data/Example_recording/*
.idea/*
.DS_Store
*.csv
*.rec
*.pkl
trodes/__pycache__/*
*.txt
!requirements.txt
archive/data/*
*.zip
*.xlsx
!input/*
*.png
__pycache__/*
